<ion-view view-title="Game">
  <ion-content class="padding">
    <div class="list card" ng-controller="CurrentGameCtrl">
      <div class="item item-divider">4th Quarter</div>
      <div class="item item-divider">
        <div class="ion-clock">
          <b>10.00</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">CAVALIERS</div>
      <div class="item item-body">
        <div>
          107
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">76ers</div>
      <div class="item item-body">
        <div>
          100
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


