<ion-view title="Today Game">
    <ion-content has-header="true" padding="true">

        <div class="list">

            <!-- NBA -->
            <div class="item item-divider">
                NBA {{nba.date}}
            </div>

            <a class="item" ui-sref="game({id: game.gameId})" ng-repeat="game in nba.games">
                {{game.home}} VS {{game.away}}
            </a>
            
            <!--if there is no nba game today-->
            <div ng-if="nba.length.length == 0">
                <a class="item" href="">
                    No game today
                </a>
            </div>

            <!-- NFL -->
            <div class="item item-divider">
                NFL {{nfl.scheduled}}
            </div>

            <a class="item" ui-sref="game({id: game.id})" ng-repeat="game in nfl">
                {{game.home.alias}} VS {{game.away.alias}}
            </a>

            <!--if there is no nfl game today-->
            <div ng-if="nfl.length == 0">
                <a class="item" href="">
                    No game today
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>