<ion-view>
    <ion-tabs class="tabs-positive tabs-icon-only">
        <ion-tab ui-sref="tabs.home" title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
            <ion-nav-view name="tabs-home"></ion-nav-view>
        </ion-tab>

        <ion-tab ui-sref="tabs.about" title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
            <ion-nav-view name="tabs-about"></ion-nav-view>
        </ion-tab>

        <ion-tab ui-sref="tabs.settings" title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
            <ion-nav-view name="tabs-settings"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>